
 .h_rectangle {
   max-width: 100%;
   flex: 0 0 100%;
   padding-top: 20%;
   position: relative;
 }

 .bigsquare_blank {
   max-width: 70%;
   height: auto;
   flex: 0 0 70%;
   display: flex;
   flex-wrap: wrap;
 }

 .inner_square {
   max-width: 50%;
   flex: 0 0 50%;
   height: 50%;
   position: relative;
 }

 .v_rectangle {
   max-width: 30%;
   flex: 0 0 30%;
   padding-top: 40%;
   position: relative;
 }

 .img-grid-c {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
   object-fit: cover;
   object-position: center;
   padding: 2.5px;
 }

 .image figcaption {
   position: absolute;
   top: 70%;
   left: 5%;
   background: #1a1a1c;
   color: white;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 10px;
   padding-right: 10px;
 }

 .image {
   border: 5px solid #1a1a1c;
   overflow: hidden;

 }

 .img-grid-c:hover {
  transform: scale(1.3);
  transform-origin: 50% 50%;
  transition: transform .4s;
}