#aboutMe {
	min-height:270px;
	background-color:#1a1a1c;
  	color:white;
}

#aboutMe h1 {
	font-size: 55px;
	line-height: 1;
}

#aboutMe .well {
	margin-top:13%;
	background-color:#25252b;
  	border-color:#25252b;
}

.info {
    position: inherit !important;
}

@media screen and (min-width: 750px) {
	#aboutMe h1 {
		font-size: 100px;
	}
}